demows/demows.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="demows" targetNamespace="http://demows" xmlns:bons1="http://test/test" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://demows" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="demowsHttpBinding" originalBindingStyle="document"/>
        <generatedXSD location="demows_InlineSchema1.xsd"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  
  
  
  
  <wsdl:types>
    
        <xsd:schema targetNamespace="http://demows" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
            <xsd:import namespace="http://test/test" schemaLocation="test/test/test.xsd"/>
            <xsd:include schemaLocation="demows_InlineSchema1.xsd"/>
    </xsd:schema>
    </wsdl:types>
  <wsdl:message name="dbqueryRequestMsg">
    <wsdl:part element="tns:dbquery" name="dbqueryParameters"/>
  </wsdl:message>
  <wsdl:message name="dbqueryResponseMsg">
    <wsdl:part element="tns:dbqueryResponse" name="dbqueryResult"/>
  </wsdl:message>
    <wsdl:message name="addRequestMsg">
    <wsdl:part element="tns:add" name="addParameters"/>
  </wsdl:message>
    <wsdl:message name="addResponseMsg">
    <wsdl:part element="tns:addResponse" name="addResult"/>
  </wsdl:message>
    <wsdl:portType name="demows">
    <wsdl:operation name="dbquery">
      <wsdl:input message="tns:dbqueryRequestMsg" name="dbqueryRequest"/>
      <wsdl:output message="tns:dbqueryResponseMsg" name="dbqueryResponse"/>
    </wsdl:operation>
        <wsdl:operation name="add">
      <wsdl:input message="tns:addRequestMsg" name="addRequest"/>
      <wsdl:output message="tns:addResponseMsg" name="addResponse"/>
    </wsdl:operation>
    </wsdl:portType>
  <wsdl:binding name="demowsHttpBinding" type="tns:demows">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="dbquery">
            <soap:operation soapAction="http://demows/dbquery"/>
            <wsdl:input name="dbqueryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
      <wsdl:output name="dbqueryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="add">
      <soap:operation soapAction="http://demows/add"/>
      <wsdl:input name="addRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    </wsdl:binding>
  <wsdl:service name="demowsHttpService">
    <wsdl:port binding="tns:demowsHttpBinding" name="demowsHttpPort">
      <soap:address location="http://localhost:7800/demows"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>